.nav {
  padding: 10px 15px;
  border-bottom: 2px solid rgb(111, 137, 197);
}

.navItem {
  color: rgb(111, 137, 197);
  margin-right: 25px;
  text-decoration: none;
}

.active {
  color: rgb(111, 137, 197);
}
.active:hover {
  color: rgb(208, 186, 214);
}
.navItem:hover {
  color: rgb(208, 186, 214);
}
