.title {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: rgb(111, 137, 197);
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
  color: #000000;
}
.link:hover {
  color: rgb(111, 137, 197);
}
